<div class="div-align-center">
<div class="wrap">
  <p class="fw-bold text-center my-2 head">Current Department</p>
  <div class="text-between">
    <span>Name:</span>
    <span>{{department.name}}</span>
  </div>
  <div class="text-between mt-1">
    <span>Description:</span>
    <span>{{department.description}}</span>
  </div>
  <p class="fw-bold text-center my-2 head">Current Employees</p>
  <ng-container *ngFor="let object of employees">
    <div class="text-between mt-1">
      <span>Name:</span>
      <span class="pointer color-accent fw-bold">{{object.name}}</span>
    </div>
  </ng-container>
  <div class="text-center my-2">
  <button mat-flat-button color="accent" [routerLink]="['../', 'edit']">Edit</button>
  </div>
</div>
</div>
