<div class="div-align-center my-2">
  <form [formGroup]="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input required type="text" matInput formControlName="name"
             placeholder="Enter name">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Description</mat-label>
      <input required type="text" matInput formControlName="description"
             placeholder="Enter description">
    </mat-form-field>
    <mat-radio-group formControlName="departmentId" aria-label="Select an option">
      <mat-radio-button class="form-field" *ngFor="let object of departments" [value]="object.id">{{object.name}}</mat-radio-button>
    </mat-radio-group>
    <div class="text-center">
      <button  mat-flat-button (click)="save()" [disabled]="form.invalid" color="accent">Save</button>
    </div>
  </form>
</div>
